bin
build
.gradle
.settings
.classpath
.project
.metadata
*.bak
gradle/arch/syncany/pkg
gradle/arch/syncany/src
gradle/arch/syncany/syncany*.tar*
*.orig
.recommenders

# IntelliJ
.idea/
*.iml
syncany-cli/out/
syncany-lib/out/
syncany-util/out/
