/**
 * BOX MODEL
 * 
 * This section only describes the essential CSS necessary to keep the basic
 * outline of header/footer and middle section, and the scroll/overflow stuff.
 *
 * See http://jsfiddle.net/5V288/7/
 *  or http://pastebin.com/k4KhM8Px (copy)
 *
 */
 
/** Begin of box model ********************************************************/ 

html {
	height: 100%;
}

body { 
	position: relative;
	margin: 0; 
	padding: 0;
	height: 100%; 
	min-height: 100%; 
}

#header {
	position: absolute;
	width: 100%;
	height: 40px;
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
}

#site {
	max-width: 1300px;
	margin: 0 auto;
	height: 100%;
	padding: 40px 0;
	overflow: hidden;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}	

#content {
	position: relative;
	height: 100%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#left {
	float: left;
	width: 30%;
	height: 100%;
	margin: 0;
	padding: 0 0 40px 0;	
	overflow: hidden;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

#right {
	float: left;
	width: 70%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/** End of box model **********************************************************/ 


/** Begin of layout ***********************************************************/

/** Common **/

body { 
	font-size: 12px; 
	font-family: Arial; 
}

.clear {
	clear: both;
}

/** Header **/

#header {
	background: #eee;
	border-bottom: 1px solid #ddd;
}

#header-wrapper {
	position: relative;
	top: 0px;
	bottom: 0px;
	max-width: 1300px;
	margin: 0 auto;	
}

/** Footer **/

#footer {
	background: #eee;
	border-top: 1px solid #ddd;
}

/** Logo **/

#logo {
	position: absolute;
	left: 5px;
	top: 0px;
	min-width: 200px;
	width: 45%;
	
	font-size: 19px;
	color: #888;
}

#logo img {
	position: absolute;
	top: 3px;
	left: 0px;
}

#logo span {
	position: absolute;
	top: 9px;
	left: 40px;
}

/** Menu **/

#menu-wrapper .selectricWrapper { /* = #menu */
	position: absolute;
	top: 0px;
	right: 0px;
	width: 90px;
}


/** Root **/

#root-wrapper .selectricWrapper { /* = #menu */
	position: absolute;
	top: 0px;
	right: 110px;
	width: 90px;
}


/** Date Select **/

#dateselect {
	position: absolute;
	top: 14px;
	right: 230px;
	width: 300px;
	
	width: 300px;
	height: 40px;
}

#dateselect #dateslider {
	float: right;
	width: 130px;
}

#dateselect #datetext {
	float: right;
	width: 130px;
	height: 20px;
	margin-right: 20px;
	text-align: right;
	
	color: #999;
	font-size: 13px;
}


/** Status **/

#status {
	position: absolute;
	top: 12px;
	right: 510px;
	width: 300px;
	text-align: right;
}

#status .icon, #status .text { 
	float: right;
	margin-left: 10px;
}

#status .icon {
	display: block;
	width: 16px;
	height: 16px;
}

#status .text { font-size: 14px; }
#status .text-loading { color: #888; }
#status .text-okay { color: green; }
#status .text-error { color: red; }

#status .icon-loading { background: url(../images/throbber.gif); }
#status .icon-okay { background: url(../images/check.gif); }
#status .icon-error { background: url(../images/error.png); }


/** jsTree **/

#tree { float:left; min-width:219px; border-right:1px solid silver; overflow: auto; padding:0px 0 }
#tree .folder { background:url('./file_sprite.png') right bottom no-repeat; }
#tree .file { background:url('./file_sprite.png') 0 0 no-repeat; }
#tree .file-pdf { background-position: -32px 0 }
#tree .file-as { background-position: -36px 0 }
#tree .file-c { background-position: -72px -0px }
#tree .file-iso { background-position: -108px -0px }
#tree .file-htm, #tree .file-html, #tree .file-xml, #tree .file-xsl { background-position: -126px -0px }
#tree .file-cf { background-position: -162px -0px }
#tree .file-cpp { background-position: -216px -0px }
#tree .file-cs { background-position: -236px -0px }
#tree .file-sql { background-position: -272px -0px }
#tree .file-xls, #tree .file-xlsx { background-position: -362px -0px }
#tree .file-h { background-position: -488px -0px }
#tree .file-crt, #tree .file-pem, #tree .file-cer { background-position: -452px -18px }
#tree .file-php { background-position: -108px -18px }
#tree .file-jpg, #tree .file-jpeg, #tree .file-png, #tree .file-gif, #tree .file-bmp { background-position: -126px -18px }
#tree .file-ppt, #tree .file-pptx { background-position: -144px -18px }
#tree .file-rb { background-position: -180px -18px }
#tree .file-text, #tree .file-txt, #tree .file-md, #tree .file-log, #tree .file-htaccess { background-position: -254px -18px }
#tree .file-doc, #tree .file-docx { background-position: -362px -18px }
#tree .file-zip, #tree .file-gz, #tree .file-tar, #tree .file-rar { background-position: -416px -18px }
#tree .file-js { background-position: -434px -18px }
#tree .file-css { background-position: -144px -0px }
#tree .file-fla { background-position: -398px -0px }

#tree {
	width: 100%;
	height: 100%;
	padding-bottom: 40px;
	border-right: 1px solid #ddd;
}

/** Preview **/

#content #preview {
	float: left;
}

#content #preview textarea {
	background: white;
	min-width: 500px;
	width: 100%;
	height: 100%;
	min-height: 500px;
	margin: 0; 
	padding: 0;
	border: 0; 
	display: block; 
	line-height: 18px; 
	resize: none; 
}

/** Table **/

#table { width: 100%; border: none; }

#table tr { cursor: pointer }
#table tbody tr.selected { background-color: #A8E4FF }
#table tbody tr:hover { background-color: #e7f4f9; }

#table th { border: none; padding: 5px 10px; text-align: left; }

#table td {
	border: none;
	white-space: nowrap;
	padding: 4px 10px;
	vertical-align: middle;
}

#table td.path span { 
	display: block;
	float: left; 
	width: 16px; 
	height: 16px; 
	margin-right: 3px;
	background-image: url('../images/file-sprite.png');
}

#table td.path span.folder { background-position: -265px -8px; }
#table td.path span.file { background-position: -104px -73px; }


/** Credits **/

#copyright {
	position: absolute;
	display: block;
	bottom: 0px;
	height: 29px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	z-index: 10;
	
	color: #999;
	font-size: 15px;
}

#copyright .link {
	width: 20%;
	padding: 0 20px;
}

#copyright .link a {
	color: #999;
	font-size: 15px;
	text-decoration: none;
}

#copyright .link a:hover {
	color: #666;
}
